<form action="/signup" method="POST">
    <input type="text" name="username"  required> <br><br>
    <input type="text" name="email" required> <br><br>
    <input type="password" name="password"  required>
    <input type="submit" >
</form>