<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addproduct</title>
</head>
<body>
    <%- include('navbar')  %>
    <h1>Add New Product</h1>
    <form action="/addnewProduct" method="POST">
        <label for="name">Product Name:</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <label for="price">Price:</label><br>
        <input type="number" id="price" name="price" required><br><br>

        <label for="description">Description:</label><br>
        <textarea id="description" name="description" required></textarea><br><br>

        <button type="submit">Add Product</button>
    </form>
    <%- include('footer')  %>
</body>
</html>